<div class="body-content" *ngIf="isLoggedIn">
    <div class="inner-content">
        <h2> Who Said It? </h2>
        <p class="question-content"> {{currentQuestion}} </p>
        <p *ngIf="showNextButton" class="correct-answer"> {{ correctAnswer }} </p>
        <h2 class="answer-result" *ngIf="showAnswerParagraph">
            Correct! The right answer is: <h4 class="correct-answer"> {{ correctAnswer }} </h4> 
        </h2>
        <h2 class="answer-result" *ngIf="showAnswerParagrapWrong">
            Sorry, you are wrong! The right answer is: <p class="correct-answer"> {{ correctAnswer }} </p> 
        </h2>
        <button *ngIf="showNextButton" class="answer-button simple" (click)="getRandomQuestion()"> Next </button>

        <div class="answers-content" *ngIf="!showNextButton"> 
            <button class="answer-button" (click)="onAnswerClick(possibleAnswers[0])"> {{possibleAnswers[0]}} </button>
            <button class="answer-button" (click)="onAnswerClick(possibleAnswers[1])"> {{possibleAnswers[1]}} </button>
            <button class="answer-button" (click)="onAnswerClick(possibleAnswers[2])"> {{possibleAnswers[2]}} </button>
        </div>
    </div>
</div>
