#main-toolbar {
    margin-top: 15px !important;
    margin-left: 45% !important;
    transform: translateX(-20%);

    width: 233px;
    background-color: darkgray;
    border-radius: 6px;
    padding: 10px;
}

.toolbar-image {
    font-size: x-large;
    margin-right: 20px;
    cursor: pointer;
    height: 25px;
}

.first-child {
    margin-left: 5px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    height: 22px !important;
    padding: 2px;
}
