<div class="body-content quote-content" *ngIf="isLoggedIn">
    
    <div class="inner-content">
        <button class="add-btn" (click)="openAddQuoteDialogue()"> Add Quote </button>
        
        <div *ngIf="isDialogueOpen" class="dialogue">
            <h3 class="add-header"> Edit Quote
                <svg (click)="cancelCreate()" class="cross-svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>    
            </h3>
            
            <div class="inputs">
                <form [formGroup]="quoteForm">
                    <input formControlName="quoteName" type="text" required placeholder="Quote" class="input-field">
                    <input formControlName="author" type="text" required placeholder="Author" class="input-field input-field-lower">
                    
                    <div> 
                        <button class="save-add lower-btns" [disabled]="quoteForm.invalid" (click)="createQuote()">Add</button>
                        <button class="lower-btns" (click)="cancelCreate()">Cancel</button>
                    </div>  
                </form>
            </div>
              
        </div>


        <div *ngIf="isEditDialogueOpen" class="dialogue">
            <h3 class="add-header"> Edit Quote
                <svg (click)="cancelEdit()" class="cross-svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>    
            </h3>
            
            <div class="inputs">
                <form [formGroup]="quoteForm">
                    <input [(ngModel)] = "editQuoteName" formControlName="quoteName" type="text" required placeholder="Quote" class="input-field">
                    <input [(ngModel)] = "editAuthor" formControlName="author" type="text" required placeholder="Author" class="input-field input-field-lower">
                    
                    <div> 
                        <button class="save-add lower-btns" [disabled]="quoteForm.invalid" (click)="SaveChanges()"> Save </button>
                        <button class="lower-btns" (click)="cancelEdit()"> Cancel </button>
                    </div>  
                </form>
            </div>
              
        </div>

        <h4 *ngIf="creationMessage" class="creation-message"> {{responseMessage}}! </h4>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Quote</th>
                    <th>Author</th>
                    <th>Edit/Delete</th>
                  </tr>
            </thead>
            
            <tr *ngFor="let item of quotes">
              <td> {{item.id}} </td>
              <td> {{item.quoteName}} </td>
              <td> {{item.author}} </td>
              <td> 
                <svg (click)="editQuote(item.id, item.quoteName, item.author)" xmlns="http://www.w3.org/2000/svg" class="edit-svg" height="1em" viewBox="0 0 576 512"><path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/></svg> 
                <svg (click)="deleteQuote(item.id)" xmlns="http://www.w3.org/2000/svg" class="delete-svg" height="1em" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
              </td>
            </tr>
          </table>
    </div>
</div>
